PORT=3001
VITE_PORT=5173

# Database configuration
DATABASE_URL=postgres://postgres:password@localhost:5432/koneksi_db

# JWT settings
JWT_SECRET=tu_secreto_super_seguro_para_jwt

# API integrations
UNIPAGO_API_URL=https://integracion.unipago.com.do/api
UNIPAGO_API_KEY=your_unipago_api_key_here
BLOB_READ_WRITE_TOKEN=sdfsdsd
TERMS_PDF_PRIVATE_URL=https://4h2zdrozf3ruawif.private.blob.vercel-storage.com/condiciones_de_uso_plataforma_koneksi.pdf
VITE_APP_URL=http://localhost:5173
